<template>

    <div v-if="$store.state.forgotPassword">
        <ForgotPassword />
    </div>

    <div v-else>
        <LoginForm />
    </div>


</template>

<script>

import LoginForm from '../components/LoginForm.vue'
import ForgotPassword from '../components/ForgotPassword.vue'

export default {

    name: 'Login',
    components: {LoginForm, ForgotPassword},

    methods: {

    }

}
</script>

<style>


</style>
