<template>
    <h1>404</h1>
    <ErrorBox />
</template>

<script>

import ErrorBox from '../components/ErrorBox.vue'

export default {
    name: 'NotFound',
    components: {ErrorBox},

    mounted() { // runs when view is mounted to the DOM
        this.$store.commit('setMessage', 'No such page')
    }

}
</script>

<style scoped>

h1 {
    font-weight: bold;
    color: #4038D1;
}

</style>