<template>
  <h1>Settings page</h1>

  <form data-test="form"> 
      
      <label>Fornavn:</label>
      <input data-test="notStoredUser" type="email" required v-model="email">
      
      <label>Etternavn:</label>
      <input data-test="notStoredPassword" type="password" required v-model="password"> 

      <label>Epost:</label>
      <input data-test="notStoredPassword" type="password" required v-model="password"> 

      <label>Etternavn:</label>
      <input data-test="notStoredPassword" type="password" required v-model="password"> 

    <div class="loginDiv">
        <button type="button" data-test="loginButton" @click="$store.commit('validateLogin')">Fullfør endringer</button> 
    </div>

  </form>
</template>

<script>
export default {
  name: 'Settings',
}
</script>

<style>

</style>