<template>
  <h1>{{ this.subject_name}}</h1>
  <h1>{{ this.subject_code + " - " +  this.semester}}</h1>

  <div class="info">


      <div class="queue">
        <h2>Subject Queue</h2>
        <Queue :studentQueue="studentQueue" />
      </div>

      <div class="exercises">
        <h2>Assignment Overview</h2>
        <Exercises :exercises="exercises" :subject="subject"/>
      </div>

    </div>

</template>

<script>

import Queue from '../components/Queue.vue'
import Exercises from '../components/Exercises.vue'
import SubjectQueueService from '../service/SubjectService.js'
import AssingmentService from '../service/AssignmentService.js'
//import store from '@/store/index.js';

export default {
    name: 'Info',
    components: {Queue, Exercises},
    props: ['subject'],

    data() {
        return {
          semester: '',
          subject_code: '',
          subject_name: '',
          studentQueue: null,
          subject: null,
          exercises: null,
          queueUpdateTimer: null,
          assignmentUpdateTimer: null,
        }
    },

    mounted() {
        SubjectQueueService.getSubject(this.getSubjectCode, this.getSemester, this.$store.state.token).
        then(ans => {

            this.semester = ans.data.semester
            this.subject_code = ans.data.subjectInfo.subject_code
            this.subject_name = ans.data.subjectInfo.name

            this.subject = ans.data
            console.log('this subject = ', this.subject)


            AssingmentService.getAssignmentsForStudent(ans.data, this.$store.state.token).
            then(ans => {

              this.exercises = ans.data
              this.assignmentUpdateTimer = setInterval(this.updateAssignmentData, 500);

            }).catch(err => console.log(err))


            SubjectQueueService.getSubjectQueuePositions(ans.data, this.$store.state.token)
            .then(ans => {
              this.studentQueue = ans.data
              this.assignmentUpdateTimer = setInterval(this.updateQueueData, 500);

            }).catch(err => console.log(err))

        }).catch(err => console.log(err))
    },

    computed: {

      getSubjectCode() {

          return this.$route.params.subject_code
      },

      getSemester() {
          return this.$route.params.semester
      }
    },

    methods: {

      updateQueueData() {
        SubjectQueueService.getSubjectQueuePositions(this.subject, this.$store.state.token)
          .then(ans => {
            this.studentQueue = ans.data
          })
          .catch(err => console.log(err)) //TODO: Fiks error melding / handling
      },

      updateAssignmentData() {
        AssingmentService.getAssignmentsForStudent(this.subject, this.$store.state.token).
        then(ans => {

          this.exercises = ans.data
          console.log('exercises: ', this.exercises)
        }).catch(err => console.log(err)) //TODO: Fiks error melding / handling
      }
    }
}
</script>

<style>

.info {
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 32px;
}


@media only screen and (max-width: 768px) {

  .info {
    grid-template-columns: none;
    grid-auto-flow: row;
    grid-column-gap: 10px;

  }

}

</style>
