<template>
  <h1>Student Assistant Queue-Panel</h1>
  <h2>{{subject_name + " - " + subject_code}}</h2>

  <div class="StudentAssistantQueueViewContainer">

    <div>
      <h2>Queue Control</h2>
      <QueuePositionControl :queue-position="currentQueuePosition" />
    </div>

    <div class="queue">
      <h2>Queue</h2>
      <Queue :studentQueue="queuePositions" show-tool-buttons :on-pick-button-pressed="onPickPressed" />
    </div>
  </div>

</template>

<script>
import SubjectQueueService from "@/service/SubjectService";
import Queue from "@/components/Queue";
import QueuePositionControl from "@/components/QueuePositionControl";

export default {
  name: "StudentAssistantQueueInfo.vue",
  components: {QueuePositionControl, Queue},

  data() {
    return {
      subject: null,
      queuePositions: null,
      subject_name: null,
      subject_code: null,
      currentQueuePosition: null,
      ownUserId: null
    }
  },

  async mounted() {
    this.ownUserId = this.$store.state.currentUserDetails.user_id;

    SubjectQueueService.getSubject(this.getSubjectCode, this.getSemester, this.$store.state.token).
        then(ans => {
          this.subject_name = ans.data.subjectInfo.name
          this.subject_code = ans.data.subjectInfo.subject_code
          this.subject = ans.data

          this.timer = setInterval(this.updateQueueData, 500);

    })
  },

  computed: {
    getSubjectCode() {
      return this.$route.params.subject_code
    },

    getSemester() {
      return this.$route.params.semester
    }
  },

  methods: {
    //TODO: Fiks error melding / handling
    updateQueueData() {
      SubjectQueueService.getSubjectQueuePositions(this.subject, this.$store.state.token).
      then(ans => {
        console.log(ans)

        this.queuePositions = ans.data;

        if(this.queuePositions==null||this.queuePositions.length === 0) {
          this.currentQueuePosition = null;
        }

        for(let qp of this.queuePositions) {
          const currentlyHelping = qp.active_student_assistant_id === this.ownUserId;

          if(currentlyHelping) {
            this.currentQueuePosition = qp;
            break;
          } else {
            this.currentQueuePosition = null
          }
        }

        this.queuePositions.forEach(qp => {
          const currentlyHelping = qp.active_student_assistant_id === this.ownUserId;

          if(currentlyHelping) {
            this.currentQueuePosition = qp;
          }

        })
      }).catch(err => {
        console.log(err)
      })
    },
    onPickPressed(queuePosition) {
      console.log(queuePosition)
      queuePosition.active_student_assistant_id = this.ownUserId;
      SubjectQueueService.updateQueuePosition(queuePosition, this.$store.state.token).then(() => {
        this.updateQueueData();
      }).catch(err => {
        console.log(err)
      })
    },
    onRemovePressed() {

    }
  }

}
</script>

<style scoped>

.StudentAssistantQueueViewContainer {
  margin: auto;
  max-width: 1512px;
  display: grid;
  grid-template-columns: 50% 48%;
  grid-column-gap: 24px;
}

@media only screen and (max-width: 768px) {

  .StudentAssistantQueueViewContainer {
    grid-template-columns: none;
    grid-auto-flow: row;
    grid-column-gap: 10px;
  }

}

</style>
