<template>
  <OptionBar :tab="getActiveTab" />


  <SubjectList v-if="getActiveTab==='student'"/>
  <StudAssAdminPanel v-if="getActiveTab==='studentassistant'"/>


</template>



<script>

import OptionBar from '../components/OptionBar.vue'
import SubjectQueueService from '../service/SubjectService.js'
import SubjectList from '../components/SubjectList.vue'
import StudAssAdminPanel from "@/components/StudAssAdminPanel";

export default {
  name: 'Subjects',
  components: {OptionBar, SubjectList, StudAssAdminPanel},

  data() {
    return {
      activeTab: String
    }
  },

  mounted() {

  },

  computed: {
    getActiveTab() {
      return this.$route.params.tab
    }
  }

}
</script>

<style scoped>

/*
.subjects {
    margin: 10, 10;
    max-width: 70%;
    margin: 30px auto;
    margin-top: 0px;
    background: white;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #2c3e50;
    background-color: rgb(250, 250, 250);
}
*/

.subjects {
   margin: 20px auto;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
    border-left: 4px solid #070707;
    width: 70%;
    background-color: rgb(253, 253, 253);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
    list-style: none;
}



</style>
