<template>
  <div class="error">
      <h3>Error</h3>
      <p data-test="errorMessage" >{{ message }}</p>
  </div>
</template>

<script>

export default {
  props: {
    message: String
  },

}
</script>

<style scoped>

.error{
    background: white;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #de644f;
}

h3 {
    color: #2f2f2f;
    text-decoration: underline;
}

p {
    color: rgb(0, 0, 0);
}

</style>
