<template>
   <div class="box main-container" :class="{exerciseComplete: exercise.approved}">
     <div class="exercise" >
       <div>
         <h3>Assignment {{ exercise.assignment_number }}</h3>
         <p v-if="exercise.approved">Approved</p>
         <p v-else>Not Approved</p>
       </div>

       <div class="icons">
         <div @click="openQueueForm" class="sub-p">
           <span v-if="!exercise.approved" class="material-icons">person_add d</span>
           <p v-if="!exercise.approved">Enter queue</p>
         </div>

         <div @click="openQueueForm" class="sub-p">
           <span v-if="exercise.approved" class="material-icons">comment</span>
           <p v-if="exercise.approved">View Comment</p>
         </div>

       </div>
     </div>

     <QueueForm @queueSubmit="openQueueForm" :exercise="exercise" :subject="subject" v-if="this.queueForm"/>

   </div>

       <!-- queueForm her -->

</template>

<script>

import QueueForm from './QueueForm.vue'

export default {
  components: {QueueForm},
  props: ['exercise', 'subject'],

  data() {
    return {
      queueForm: false
    }
  },

  methods: {
    openQueueForm() {
      this.queueForm = !this.queueForm
    }

  }

}
</script>

<style scoped>

  

  .main-container {
    margin-top: 12px;
    padding: 12px;
  }

  .main-container p, h3 {
    padding: 0;
    margin: 0;
  }

 .exercise {
    margin: 16px auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  .box {
    border-left: 8px solid #e70909;
  }

  .exerciseComplete {
    border-left: 8px solid #09e778;
  }

  .sub-p {
    color: #6c6c6c;
    cursor: pointer;
  }

  .sub-p:hover {
    color: #3d3d3d;
  }


</style>
