<template>
  <div class="exercises">
      <div v-for="exercise in exercises" :key="exercise.assignment_number">
            <Exercise :exercise="exercise" :subject="subject"/>
      </div>

  </div>
</template>

<script>

import Exercise from './Exercise.vue'


export default {

    components: {Exercise},
    props: ['exercises', 'subject']


}
</script>

<style>

</style>
