<template>
  <form>
      

      <label>Email:</label>
      <input data-test="usernameTest" type="email" required v-model="email">
      
    <div class="loginDiv">
        <button type="button" class="submit" @click="handleResetPassword">Reset Password</button>
        <p @click="$store.commit('forgotPassword')" class="forgot">Login page</p>
    </div>

    </form>
</template>

<script>
export default {

  methods: {
    handleResetPassword() {
      // api request to reset password
    },

    forgotPassword() {
            this.$store.commit('forgotPassword')
        }
  },

  computed: {

    email: {
          get() {
              return this.$store.state.Email;
          },
          set(newEmail) {
              this.$store.commit('setCurrentEmail', newEmail)
          }
      },
  }

}
</script>

<style>

 

</style>