<template>
  <div class="loginContainer">

    <div v-if="error">
      <ErrorBox :message="error"/>
    </div>

    <form @submit.prevent="handleLogin" >

      <label for="username">Email (NTNU-Email):</label>
      <input data-test="email" id="username" type="email" required v-model="email">

      <label for="password">Password:</label>
      <input data-test="password" type="password" id="password" required v-model="password">

      <button type="submit">Logg inn</button>
    </form>
  </div>

</template>

<script>

import ErrorBox from './ErrorBox.vue'
import LoginService from '../service/LoginService.js'
import UserAccountService from "@/service/UserAccountService";
export default {

    components: {ErrorBox},

    data() {
        return {
          error: null,
          email: '',
          password: '',
          token: ''
        }
    },

    methods: {

        async handleLogin() {
            return LoginService.getToken(this.email, this.password).
            then(ans => {
              this.$store.commit('setToken', ans.data)
              this.$store.commit('setLogin', this.email)


              UserAccountService.getRolesForLoggedInUser(ans.data).then(roles => {
                this.$store.commit('setActiveRoles', roles.data)

                UserAccountService.getUserAccountDetails(this.email, ans.data).then(usr => {
                  this.$store.commit('setUserAccountDetails', usr.data)

                }).catch(err =>{
                  console.log(err.response)
                  this.$store.commit('setLogin', '', '')
                })

                this.$router.push('/Subjects/student')
              }).catch(err => {
                if(err.response) {
                  this.error = err.response.data;
                } else {
                  this.error = err
                }

                console.log(err.response)
                this.$store.commit('setLogin', '', '')
              })

            })
            .catch(err => {
              if(err.response) {
                this.error = err.response.data;
              } else {
                this.error = err
              }

              console.log(err.response)
              this.$store.commit('setLogin', '', '')
            })

        },

        forgotPassword() {
            this.$store.commit('forgotPassword')
        }
    },

}
</script>

<style>

.loginContainer {
  width: 95%;
  max-width: 416px;
  margin: auto;
}

button {
  margin-top: 16px;
  width: 100%;
}

form {
  margin: 30px auto;
  background: white;
  text-align: left;
  border-radius: 10px;
}

form input {
  font-size: 20px;
}

label {
  color: #333333;
  display: inline-block;
  margin: 25px 0 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  height: 50px; /* edited */
  border: none;
  border-bottom: 1px solid #ddd;
  color: #414141;
}

</style>
