<template>
  <div>
    <div id="navBar">
      <router-link @click="changeColor('Subjects')" :to="{name: 'Subjects', params: {tab: 'student'}}" :class="{activeNav: $store.state.currentOption === 'Subjects'}">Subjects</router-link>
      <router-link @click="changeColor('Settings')" :to="{name: 'Settings'}" :class="{activeNav: $store.state.currentOption === 'Settings'}">Settings</router-link>
      <router-link @click="logOut" :to="{name: 'Login'}">Log out</router-link>
    </div>
    <p v-text="email" />
    <hr>
  </div>
</template>

<script>
import store from "@/store";
export default {

  methods: {
    logOut() {
      this.$store.commit('setToken', '')
      this.$store.commit('setLogin', '', '')
    },

    changeColor(route) {
      this.$store.commit('setCurrentOption', route)
    }
  },

  computed: {

     email: {
          get() {
            if(store.state.currentUserDetails != null) {
                return "Logged in as " + store.state.currentUserDetails.email;
            }
          }
      },

  }

}
</script>

<style>

#navBar {
  padding: 15px;

}

/*
#navBar a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

#navBar a.router-link-active {
  color: white;
  background: #00ce89;
}
*/
#navBar a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.activeNav {
  color: white;
  background: #00ce89;
}


hr {
  height: 1px;
  width: 50%;
  border-width: 0;
  background-color:#2c3e50;
}

</style>
