<!-- The options navbar 'Student, Stud.ass, Arkivert' -->
<template>
  <div class="optionBar">
      <a :class="{active: this.tab === 'student'}" @click="navigateToTab('student')" v-if='showStudentTab'>Queues</a>
      <a :class="{active: this.tab === 'studentassistant'}" @click="navigateToTab('studentassistant')" v-if="showStudentAssistantTab">Stud.ass Panel</a>
      <a :class="{active: this.tab === 'archived'}" @click="$store.commit('setActiveOption', 'Arkivert')">Archived</a>
      <a :class="{active: this.tab === 'archived'}" @click="$store.commit('setActiveOption', 'Arkivert')" v-if="showAdminTab">Admin Panel</a>
  </div>
</template>

<script>
export default {
  props: {
    tab: {
      type: String,
      required: true
    }
  },

  computed: {
    showStudentTab() {
      return this.$store.state.userRoles.includes("ROLE_STUDENT")
    },
    showStudentAssistantTab() {
      return this.$store.state.userRoles.includes("ROLE_STUDENT_ASSISTANT")
    },
    showAdminTab() {
      return this.$store.state.userRoles.includes("ROLE_TEACHER")
    },
  },

  methods: {
    navigateToTab(name) {
      this.$router.push({name: 'Subjects', params: {tab: name }})
    }
  }
}
</script>

<style>

.optionBar{
    text-align: center;
    margin: 40px auto;
}

.optionBar a {
    display: inline-block;
    text-decoration: none;
    margin: 0 40px;
    color: #2c3e50;
    font-size: 2em;

}

.optionBar a:hover {
    border-bottom: 2px solid #00ce89;
    cursor: pointer;
}

.active {
     border-bottom: 2px solid #00ce89;
}

</style>
