<template>

    <div class="queue" v-if="studentQueue!=null && studentQueue.length>0" >
        <ul>
            <li v-for="(student, index) in this.sortedByTime" :key="index">
                <Student :number="index+1" :student="student" :show-remove-button="showToolButtons" :show-pick-button="showToolButtons" :on-pick-button-pressed="onPickButtonPressed" :on-remove-button-pressed="onRemoveButtonPressed"/>
            </li>
        </ul>
    </div>
  <div v-else>
    <h4>This queue is empty...</h4>
  </div>

</template>

<script>

import Student from './Student.vue'

export default {
    components: {Student},
    props: {
      studentQueue: {
        required: true,
        type: Object
      },
      showToolButtons: {
        default: false,
        type: Boolean
      },
      onPickButtonPressed: {
        type: Function,
        default: ()=>{}
      },
      onRemoveButtonPressed: {
        type: Function,
        default: ()=>{}
      }
    },

  computed: {
      sortedByTime() {
        console.log(this.studentQueue)
        return this.studentQueue.sort ((a, b) => {
          return new Date(a.entry_time) - Date(b.entry_time)
        });
      }
  }
}
</script>

<style scoped>

ul {
    list-style-type: none;
}


</style>
