<template>
<div class="queueForm">

  <h2 class="">Enter queue for assignment </h2>
    <form>
      <div class="checkbox">

        <div>
          <div class="radio">
            <input checked type="radio" id="approval" name="check" @click="checkBox('Approval')" value="Test"/>
            <label for="approval">Approval</label>
          </div>
          <p class="sub-p">Show your completed assignment to an student assistant for approval.</p>
        </div>

        <div>
          <div class="radio">
            <input checked type="radio" id="Help" name="check" @click="checkBox('Help')" value="Test"/>
            <label for="approval">Help</label>
          </div>
          <p class="sub-p">Have any questions about the assignment?</p>
        </div>



      </div>
      <div class="dropdown">
        <div class="location">
          <label for="approval">Room</label>
          <select v-model="location">
            <option value="" disabled selected hidden>Location</option>
            <option value="Hjemme">Hjemme</option>
            <option value="A-112">A-112</option>
            <option value="A-420">A-420</option>
            <option value="C-314">C-314</option>
            <option value="D-119">D-119</option>
          </select>
        </div>
        <div class="table">
          <label for="approval">Table</label>
          <select v-model="table">
            <option value="" disabled selected hidden>Table</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>

    <div class="submit">
        <button type="button" @click="submitQueue">Queue</button>
    </div>

  </form>
</div>

</template>

<script>

import SubjectService from '../service/SubjectService.js'
import SubjectQueueService from '../service/SubjectService.js'
export default {

    props: ['exercise', 'subject'],

    data() {
        return {
            location: '',
            table: '',
            type: ''
        }
    },

    methods: {
        submitQueue() {
            SubjectService.postNewSubjectQueuePosition(this.subject, this.exercise.assignment_number, this.type, this.$store.state.token).
            then(ans => {


                console.log('queue submit info: ', ans.data) // respons fra server

                // test
                // vi kan calle dette nedenfor hver gang noen queuer --> send til studentQueueView. På denne måten oppdateres det hver gang noen går inn.
                // så lenge queuen er under 'computed' i studentQueueView
                SubjectQueueService.getSubjectQueuePositions(this.subject, this.$store.state.token)
                .then(ans => {
                //this.studentQueue = ans.data
                console.log('updated queue: ', ans.data) // queuen oppdateres ikke (pga at brukeren min er hardcodet i DB ??)
                this.$emit('queueSubmit') // emit updated queue to studentQueueView (funker ikke enda, skal fikse)
                }).catch(err => console.log(err))

                // test
            }).catch(err => console.log(err))
        },

        checkBox(type) {
            this.type = type
        }
    },

    mounted() {
        this.checkBox('Approval')
    }



}
</script>

<style scoped>





@media only screen and (max-width: 768px) {

}

p {
  margin: 0;
}

.sub-p {
  font-size: 14px;
  text-align: left;
  word-break: break-word;
}

.radio {
  display: grid;
  grid-template-columns: 40px auto;
  margin: 0;
  padding: 0;
}

.radio label {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
}

.queueForm {
  margin: auto;
  max-width: 512px;
}

.checkbox {
  grid-column-gap: 12px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
}

.dropdown {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
}

.dropdown select {
  width: 100%;
  background: white;
  height: 42px;
  border: 1px solid #464646;
  border-radius: 4px;
}

input[type=radio] {
    height: 20px;
}





</style>
