<template>
  <div class="box" id="container">

    <div>
      <div v-if="queuePosition">
        <h2>You are currently {{queuePositionVerb}}:</h2>
        <h3><i>{{ studentName }}</i></h3>
        <h3>{{ queuePositionHelper }}</h3>
        <h3><i>Assignment {{ assignmentNumber }}</i> </h3>
      </div>
      <div v-else>
        <h3>Please pick a student from the queue to get started</h3>
      </div>

      <div id="buttons">
        <button :disabled="!queuePosition || this.queuePosition.queue_type!=='Approval'" @click="approveAssignment">Approve</button>
        <button class="" :disabled="!queuePosition">Postpone</button>
        <button class="button-red" :disabled="!queuePosition" @click="removeCurrentSubjectQueueFromQueue">Remove</button>
      </div>
    </div>
  </div>

</template>

<script>
import SubjectService from "@/service/SubjectService";
import AssignmentService from "@/service/AssignmentService";

export default {
  name: "QueuePositionControl",
  props: {
    queuePosition: {
      type: Object,
      required: true
    }
  },
  computed: {
    queuePositionVerb() {
      if(this.queuePosition.queue_type == "Approval") { return "approving"}
      else if (this.queuePosition.queue_type == "Help") { return "helping"}
    },
    queuePositionHelper() {
      if(this.queuePosition.queue_type == "Approval") { return "for"}
      else if (this.queuePosition.queue_type == "Help") { return "with"}
    },
    studentName() {
      return this.queuePosition.student.first_name + " " + this.queuePosition.student.surname;
    },
    assignmentNumber() {
      return this.queuePosition.assignment_number;
    }
  },
  methods: {
    removeCurrentSubjectQueueFromQueue() {
      SubjectService.deleteSubjectQueuePosition(this.queuePosition.subject_code, this.queuePosition.semester, this.queuePosition.student_user_id, this.$store.state.token)
          .then(res => {
            //TODO: Confirm-Message
          }).catch(err => {
            console.log(err)
      });
    },
    approveAssignment() {
      AssignmentService.approveAssignment(
          this.queuePosition.subject_code,
          this.queuePosition.semester,
          this.queuePosition.assignment_number,
          this.queuePosition.student_user_id,
          this.$store.state.token
      ).then(
          this.removeCurrentSubjectQueueFromQueue
      ).catch(err => {
        console.log(err)
      })
    }
  },
}
</script>

<style scoped>
#container {
  padding: 16px 16px 24px 16px;
}

#buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
}

</style>
