<template>

  <div class="subjectItemContainer" v-bind:class="{open : subject.active, closed : !subject.active, disabled : !subject.active}">

    <div class="subjectHeader">
      <h2>{{ subject.subject.subjectInfo.name }}</h2>
      <h3>{{ subject.subject_code }} - {{ subject.semester }}</h3>
      <h4 v-if="subject.active">Queue is open</h4>
    </div>

    <div class="subjectOptions">
        <button @click="pushToQueueScreen()">View Queue</button>
        <button @click="" v-if="subject.active && type==='student'">Chat</button>
        <button @click="activateQueue" v-if="!subject.active && type==='studass'">Activate Queue</button>
      <button @click="disableQueue" class="button-red" v-if="subject.active && type==='studass'">Close Queue</button>

    </div>

  </div>

</template>

<script>
import studAss from "@/components/StudAss";
import SubjectService from "@/service/SubjectService";

export default {
  props: {
    subject: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      validator(value) {
        return['studass', 'student'].includes(value)
      }
    }
  },

  methods: {
    pushToQueueScreen() {
      if(this.type === 'studass') {
        this.$router.push({name: 'StudentAssistantQueueView', params: {subject_code: this.subject.subject_code, semester: this.subject.semester }})
      } else if(this.type==='student') {
        this.$router.push({name: 'StudentQueueView', params: {subject_code: this.subject.subject_code, semester: this.subject.semester }})
      }
    },
    activateQueue() {
      SubjectService.changeQueueStatus(this.subject.subject_code, this.subject.semester, true, this.$store.state.token).then(res => {
        this.pushToQueueScreen();
      }).catch(err => {
        console.log(err)
      })
    },
    disableQueue() {
      SubjectService.changeQueueStatus(this.subject.subject_code, this.subject.semester, false, this.$store.state.token).then(res => {
        //TODO: Add confirm message
        this.subject.active = false;
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style>

.disabled {
  opacity: 75%;
}

.disabled:hover {
  opacity: 100%;
}

.subjectItemContainer {
  background: white;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
  border: #e0e0e0 1px solid;
  border-left: 10px solid #000000;

  display: grid;
  padding: 22px;
}

.open {
  border-left-color: #59d329;
}

.closed {
  border-left-color: #e33838;
}

.archived {
  border-left-color: #414141;
}

.subjectOptions {
  text-align: center;
  margin: 10px 0 0;
  display: grid;
  grid-auto-flow: column;
}

.subjectOptions {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}


@media only screen and (max-width: 768px) {

  .subjectOptions {
    grid-auto-flow: row;
  }

}

</style>
