<template>
  <div class="studAddPanelContainer">

    <h1>Welcome to the Student Assistant Admin Panel</h1>
    <div class="activeQueuesContainer" v-if="this.getAvailableQueues">
      <h2>Your available queues:</h2>
      <ul>
        <li v-for="subject in this.getAvailableQueues" :key="subject.subject_code">
          <SingleSubject :subject="subject" type="studass"/>
        </li>
      </ul>
    </div>
  </div>

</template>

<script>

import SubjectService from "@/service/SubjectService";
import SingleSubject from "@/components/SingleSubject";
import store from '@/store/index.js';
import subjects from "@/views/Subjects";

export default {
  components: {SingleSubject},

  data() {
    return {
      subjects: null
    }
  },

  computed: {
    getAvailableQueues() {
      console.log(subjects)
      if(this.subjects != null) {
        return this.subjects.filter(s => {
          return !s.archived;
        })
      } else {
        return null;
      }
    }
  },

  mounted () {
    return SubjectService.getStudentAssistantSubjectQueues(store.state.token)
        .then(res => {
          this.subjects = res.data;
        })
        .catch(() => next({name: "Error"}))
  },

}

</script>

<style>

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.studAddPanelContainer {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
}

.inactiveQueuesContainer {
  width: 95%;
  margin: 64px auto;
}

</style>
