<template>
  <div class="student box" :class="{ studentActive: student.active_student_assistant_id != -1 }">
    <div class="student-info-content">
      <h2><b>{{ "#" + number + " - " +student.student.first_name + " " +  student.student.surname }}</b></h2>
      <h3><i>Assignment {{ student.assignment_number }} - {{ student.queue_type }}</i></h3>
      <p><i>Entered queue at {{new Date(student.entry_time).toLocaleTimeString()}}</i></p>

      <p v-if="this.student.active_student_assistant_id !== -1"><i>Currently getting help from {{ student.active_student_assistant_id }}</i></p>
      <p v-else><i>Waiting for student assistant...</i></p>
    </div>

    <div class="student-button-content">
      <button :disabled="this.student.active_student_assistant_id !== -1" v-if="showPickButton" @click="pickButtonPressed">Pick</button>
      <button :disabled="this.student.active_student_assistant_id !== -1" v-if="showRemoveButton" @click="removeButtonPressed">Remove</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      required: true,
    },
    student : {
      required: true,
      type: Object
    },
    showPickButton: {
      type: Boolean,
      default: false
    },
    showRemoveButton: {
      type: Boolean,
      default: false
    },
    onPickButtonPressed: {
      type: Function,
      default: ()=>{}
    },
    onRemoveButtonPressed: {
      type: Function,
      default: ()=>{}
    }
  },

  methods: {
    pickButtonPressed() {
      this.onPickButtonPressed(this.student);
    },
    removeButtonPressed() {
      this.onRemoveButtonPressed(this.student);
    }
  }

}
</script>

<style scoped>

.student-info-content p, h3, h4 {
  margin: 0;
  padding: 0;
}

.student-info-content p {
  margin-top: 4px;
}


.student-info-content h4 {
  padding-bottom: 16px;
  margin-top: 8px;
}

.student-info-content {
  text-align: left;
}

.student-button-content {
  display: grid;
  grid-auto-flow: row;
}

.student {
  margin: 20px auto;
  background: white;
  padding: 10px 20px 20px;
  border-left: 6px solid #9f9f9f;
  display: grid;
  grid-auto-flow: column;

}

.studentActive {
    border-left: 8px solid #00e94e;
}

@media only screen and (min-width: 768px) and (max-width: 1268px) {

  .student {
    grid-auto-flow: row;
    grid-column-gap: 10px;
  }

  .student-button-content {
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }

}

@media only screen and (max-width: 768px) {

  .student {
    grid-auto-flow: row;
    grid-column-gap: 10px;
  }

  .student-button-content {
    grid-auto-flow: column;
    grid-column-gap: 10px;

  }

}

</style>
