<template>
  <div class="container">

    <div class="activeQueuesContainer" v-if="this.getActiveSubjects">
      <h1 class="underline">Active Queues</h1>
      <ul>
        <li v-for="subject in this.getActiveSubjects" :key="subject.subject_code">
            <SingleSubject :subject="subject" type="student" />
        </li>
      </ul>
    </div>

    <div class="inactiveQueuesContainer" v-if="this.getInactiveSubjects">
      <h2>Inactive Queues</h2>
      <ul>
        <li v-for="subject in this.getInactiveSubjects" :key="subject.subject_code">
          <SingleSubject :subject="subject" type="student"/>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

import SubjectService from "@/service/SubjectService";
import SingleSubject from "@/components/SingleSubject";
import store from '@/store/index.js';

export default {
  components: {SingleSubject},

  data() {
    return {
      subjects: null
    }
  },

  computed: {
    getActiveSubjects() {
      if(this.subjects != null) {
        return this.subjects.filter(s => {
          return s.active && !s.archived;
        })
      } else {
        return null;
      }
    },
    getInactiveSubjects() {
      if(this.subjects != null) {
        return this.subjects.filter(s => {
          return !s.active && !s.archived;
        })
      } else {
        return null;
      }
    },
  },

  mounted () {
    return SubjectService.getStudentAssistantSubjectQueues(store.state.token)
        .then(res => {
            console.log(res.data)
            this.subjects = res.data;
          console.log(this.subjects)
        })
        .catch(() => next({name: "Error"}))
  },

}

</script>

<style>

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.inactiveQueuesContainer {
  width: 95%;
  margin: 64px auto;
}


</style>
