<template>
  <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0" />



  <div v-if="isLoggedIn" id="nav">
    <NavBar />
  </div>

  <img src="./assets/qsLogo.png" alt="">

  <router-view/>

</template>



<script>

import NavBar from './components/NavBar.vue'
import store from "@/store";

export default {
  components: {NavBar},
  computed: {
    isLoggedIn() {
      return this.$store.state.loggedIn
    }
  }
}

</script>


<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-left: 10px;
  margin-right: 10px;

}

  .box {
    background: white;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
    border: #e0e0e0 1px solid;
    border-left: 10px solid #000000;
  }

  button {
    text-decoration: none;
    background: #00ce89;
    border: 0;
    padding: 10px 20px;
    color: #26323d;
    border-radius: 20px;
    font-size: 18px;
    height: 40px;
  }

  .button-yellow {
    background: #e5e02d;
    color: #2c2c2c;
  }

  .button-red {
    background: #e35c5c;
    color: #ffffff;
  }

  button:hover {
    background: #2c3e50;
    cursor: pointer;
    color: white;
  }

  button:active {
    background: #14406c;
    cursor: pointer;
    color: white;
  }

  button:disabled {
    background: #34404d;
    cursor: default;
    color: #a4a4a4;
  }

  .underline {
    text-decoration: underline;
  }
</style>
